/* app.css */
body, html {
  overflow-x: hidden;
}

/* Asegúrate de que el contenedor principal tenga el tamaño correcto */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ocupa el alto completo de la ventana gráfica */
} 

/* Centra el contenido y permite que crezca para llenar el espacio disponible */
.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para el pie de página */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

