.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin: 10px;
    padding: 20px;
    width: 200px;
    height: 350px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    background-color: #fff; /* Agrega un color de fondo a la tarjeta */
  }
  
  .card-body:hover {
    transform: scale(1.05);
  }
  
  .card-body img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Asegura que las imágenes de los productos se ajusten correctamente */
    border-radius: 10px; /* Agrega bordes redondeados a las imágenes */
  }
  
  .card-body h2 {
    font-size: 18px;
    color: #333;
    margin-top: 10px; /* Agrega un margen superior para separar el título del producto de la imagen */
  }
  
  .card-body p {
    font-size: 16px;
    color: #777;
  }
  
  .card-body button {
    background-color: #974141;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: auto; /* Alinea el botón con la parte inferior de la tarjeta */
  }
  
  .card-body button:hover {
    background-color: #992e2e;
  }
  