.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
}

.card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card-img-top {
  width: 100%;
  height: auto;
}

.nombre, .precio, .categoria {
  font-size: 14px;
  color: #333;
}

.detalle {
  background-color: #0037ec;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  width: 80%;
  height: 20%;
  
}
