.footer {
  background-color: #ffffff;
  left: 0;
  bottom: 0; 
  padding: 10px 0;
  color: rgb(0, 0, 0);;
  width: 100%;
}


.container {
  background-color: rgb(255, 255, 255);
  max-width: 100%;


}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-column {
  flex: 1 1 1 300px;
  margin-bottom: 10px;
  max-width: 100%;

}

.footer-column h3 {
  color: #e44d26;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #270202;
  text-decoration: none;
}

.social-icons {
  display: flex;
}

.social-icons a {
  margin-right: 20px;
  color: rgb(31, 72, 209);
  font-size: 30px;
}

.social-icons a:hover {
  color: #1e3fd3;
}