.item-detail-container {
  display: flex;
  align-items: flex-start;
  gap: 20px; 
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(241, 9, 9, 0.2);
} 

.item-image img {
  width: auto; 
  height: auto;
  border-radius: 10px;
  position: center;
}

.item-info {
  display: flex;
  flex-direction: column;
}

.item-info h2 {
  font-size: 50px;
  margin-bottom: 10px;
  padding: 75px;
  margin: 20px;
}

.item-info .price {
  font-size: 20px;
  color: #ff2626;
  font-weight: bold;
  margin-bottom: 10px;
}

